h4{
    font-size:30px;text-align: center;

h1 {
color: red;
}
h3{
    font-size:50px;text-align:center;background-color: rgb(30, 183, 210) ;
}
h5{
    font-size: 30px;background-color: darkgoldenrod;

}
h6{
    font-size: 30px;background-color: darkgoldenrod;
